If you want langsmith tracing
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://your-scope.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=your_project_name
for appinsight tracing
APPLICATIONINSIGHTS_CONNECTION_STRING="InstrumentationKey=your_instrumentation_key;IngestionEndpoint=https://<region>.in.applicationinsights.azure.com;LiveEndpoint=https://<region>.livediagnostics.monitor.azure.com;ApplicationId=your_application_id"
foundry keys
OPENAI_BASE_URL="https://your_openai_resource.openai.azure.com/openai/v1"
OPENAI_API_KEY=your_openai_api_key
FOUNDRY_PROJECT_ENDPOINT="https://your_foundry_resource.services.ai.azure.com/api/projects/your_project"